/* :root {
    --mainColor: #3725E4;
} */

/* .sec1, .sec1 h1, .sec1 p, .card, 
.card > div, .card div div, #nev, #addr1,
#m1, #m2, #m3, #m4, #m4 div, .tel, .tel div, .m1_b, .m3_b, cov { border: 1px solid var(--mainColor) } */

.sec1 h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    margin-top: 71px;
}

.sec1 h1,
.sec1 h2,
.sec1 p,
#tgs,
#addr {
    padding-left: 65px;
    width: 720px;
}

#vline1 {
    margin: 14px 0 19px 83px;

}






.sec1 p {
    font-family: Georgia;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    padding-bottom: 23px;
}

.sec1 .b {
    font-weight: bold;
}

.sec1 h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    padding-top: 29px;
    padding-bottom: 42px;
}

#tgs {
    margin-bottom: 49px;
}

#tgs span {
    padding: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: var(--mainColor);
    border: 2px solid var(--mainColor);
    border-radius: 23px;
    margin-right: 16px;
}

#tgs a {
    color: var(--hoverColor)
}

#addr {
    display: block;
    margin-top: 22px;
    margin-bottom: 48px;
}

#addr>img {
    margin-right: 14px;

}


/* карточка */

.card {
    width: 100%;
    padding-left: 35px;
    padding-right: 100px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;

}

.card>div {
    /* overflow: hidden; */
    max-width: 311px;
    height: 480px;
    margin-right: 16px;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.14);
    border-radius: 22px;
    /* display: flex;
    flex-wrap: wrap;
    align-content: space-between; */

}

.card_img {
    width: 100%;
}

.card h3 {
    font-style: normal;
    font-weight: bold;
    width: 90%;
    height: 60px;
    ;
    font-size: 22px;
    /* font-size: 1.3vw; */
    line-height: 21px;
    position: relative;
    top: -90px;
    left: 24px;
    /* padding-right: 10px; */
    color: #FFFFFF;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.card div div {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    padding: 24px;
    position: relative;
    top: -60px;

}

.hc1 {
    position: relative;
    top: 450px;
    min-height: 170px;
}

.card_arrow {
    text-align: right;
    margin-right: 14px;

}

/* карточка */


#kolb {
    position: relative;
    left: -248px;
    top: -83px;
}

#nev {
    padding-left: 35px;
}

#df {
    cursor: pointer
}


#cons {
    margin-top: 30px;
    /* margin-bottom: 70px; */
    display: flex;
}

#cons h1 {
    width: 350px;
    /* height: 200px; */
    margin-right: 20px;
    margin-top: 0;


}

#addr1 {
    /* padding-top: 65px; */
    width: 550px;
    margin-left: 30px;
}


#m1 {
    width: 100%;
    padding-left: 65px;
    margin-bottom: 10px;
    display: flex;
}

#m2 {
    max-width: 620px;
    margin-top: 75px;
}

#m2>span {
    font-family: Georgia;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;

}

#m3 {
    width: 33.3%;
    height: 380px;
    position: relative;
    top: -10px;
    cursor: pointer;
}

/* #m3 span {
    text-align: center;
} */

#m4 {
    width: 100%;
    margin-top: 20px;
    display: flex;
}

#m4 h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 10px;
}

#m4 span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

}

#m4 div {
    padding-right: 25px;
}

.c1 {
    max-width: 320px;
    height: 280px;
    margin-right: 16px;
}

.c1 h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 21px;
    text-align: center;
    position: relative;
    top: -90px;
    left: 14px;
    color: var(--mainColor);
}

.c1 span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

}

.c2 {
    text-align: center;
    padding: 24px;
    position: relative;
    top: -80px;
}

.arr1 {
    position: relative;
    top: -70px;
}

.tel {
    position: relative;
    /* top: 0; */
    margin-top: 50px;
    padding-left: 100px;
    width: 330px;
    /* height: 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 104px;
}

.tel div:nth-child(2) {
    width: 180px;
}

.tel div {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.tel span {
    font-style: italic;
}

#sld1 {
    width: 100%;
    margin-top: 24px;
    padding-right: 90px;
    padding-left: 36px;
}


/* #arr_left {
    position: absolute;
    top: -220px;
    left: 60px;
}

#arr_right {
    position: absolute;
    top: -220px;
    left: 695px;
} */

#sld_p {
    width: 100%;
    padding-left: 0;
    text-align: center;
    padding-right: 90px;
    padding-top: 20px;
    margin-bottom: 15px;
}


.cov {
    width: 100%;
    padding-left: 36px;
    padding-right: 85px;
    margin-bottom: 120px;
    display: flex;
}

.m1_b {
    width: 70%;
    height: 360px;
    border: 2px solid #3725E4;
    border-radius: 22px;
}

.m3_b {
    width: 40%;
    cursor: pointer;
}



.m1_b h2 {
    padding-left: 24px;
    padding-bottom: 0;
}

.m1_b h2+p {
    font-family: Georgia;
    padding-left: 24px;
    padding-bottom: 0;
    margin-top: 24.13px;
    width: 90%;
    font-family: Georgia;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
}

.m1_b #p1 {
    font-family: Gotham Pro;
    width: 100%;
    margin-top: 20px;
    padding-left: 24px;
    padding-right: 64px;
    padding-bottom: 0;
    margin-bottom: 33px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

#tel1 {
    padding-left: 41px;
    width: 265px;
}

.sec1 {
    border-radius: 5%;
}

#sld1 {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 30px;
}

@media (max-width: 768px) {

    .sec1 h1,
    .sec1 h2,
    .sec1 p,
    #tgs,
    #addr {
        padding-left: 20px;
        /* width: 720px;  */
    }

    #m1 {
        padding-left: 20px;

    }

    .c1 h3 {
        top: -60px;
    }

    .c2 {
        top: -50px;
    }

    .tel {
        padding-left: 30px;
        justify-content: flex-start;
    }

    .tel div:nth-child(2) {
        padding-left: 20px;
    }

    .m1_b {
        height: 420px
    }

    /* #tel1 {
    padding-left: 30px;
} */

}

@media (max-width: 500px) {

    #mainCont {
        width: 360px;
    }

    .sec1 h1, .sec1 h2, .sec1 p, #addr {
        padding-left: 10px;
        max-width: 330px;
    }

    .sec1 h2 {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .sec1 h1 {
        margin: 40px 0 30px 0;
    }

    #vline1 {
        display: none;
    }

    #tgs {
        padding-left: 5px;
        width: 360px;
        height: 100px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    #tgs span {
        margin-top: 10px;
    }

    .card {
        width: 311px;
        padding-left: 15px;
        padding-right: 0px;
        margin-bottom: 20px;
        flex-direction: column;
      }

    .card > div {
      margin-bottom: 30px;
    }

    #df {
        margin-top: 80px;
        height: 60px;
    }

    #kolb {
        position: relative;
        left: 80px;
        top: -200px;
    }

    #nev {
        padding-left: 20px;
    }

    #cons {
        margin-bottom: 17px;
        flex-direction: column;
    }

    #addr1 {
        margin-left: 20px;
    }

    #m1 { 
    width: 327px;
    padding-left: 15px;
    margin-bottom: 20px;
    flex-direction: column;
    }

    #m2 { margin-top: 15px; }

    #m4 { flex-direction: column;}

    #m4 > div {
        margin-top: 20px;
    }

    #m3 { 
    width: 100%;
    margin-top: 40px;
    }   

    .c1 {
        max-width: 230px;
        height: 372px;
        margin-right: 0px;
    }
    
    .c1 h3 {
    left: 0px;
    }

    .c2 {
        max-width: 240px;
        text-align: center;
        padding: 24px;
        position: relative;
        margin-bottom: 20px;
    }

    .tel {
        margin-bottom: 40px;
    }

    .sld {
       width: 360px;
       height: 420px;
       overflow: hidden;
       border-radius: 0;
    }

    #sld1 {
        width: 170%;
        padding-left: 0;
        padding-right: 0;
        border-radius: 0;
    }

    #sld_p {
        text-align: left;
        padding: 10px 0 20px 10px;
    }

    .cov {
        width: 340px;
        padding-left: 15px;
        padding-right: 0px;
        margin-bottom: 40px;
        flex-direction: column;
    }

    .m1_b {
        height: 475px;
        width: 100%;
    }

    .tel {
        margin-top: 0;
    }
    
    .m3_b {
        width: 100%;
        margin-left: 40px;
        margin-top: 30px;
    }

    .m1_b h2 {
        padding-top: 33px;
        padding-left: 24px; 
    }
    
    .m1_b h2 + p {
        margin-top: 0px;
        width: 315px;
    }
    
    .m1_b #p1 {
        width: 300px;
        margin-top: 20px;
        padding-left: 24px;
        padding-right: 0;
        padding-bottom: 0;
        margin-bottom: 20px;
    }
}