.news_no_img{
	font-family: 'Gotham Pro';
	font-style: normal;
	font-size: 16px;
	line-height: 130%;
	margin-top: 71px;
	margin-left: 70px;
	margin-bottom: 80px;
} /* добавил margin-top: 50px; а то заваливается в верх */
.news_no_img a{
	font-family: 'Gotham Pro';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #3725E4;
}

.hover:hover{
	color: #3725E4;
}

.news_no_img img{
	margin-left: 20px;
}

.news_no_img__title h1{
	font-family: 'Gotham Pro';
	font-style: normal;
	font-weight: bold;
	font-size: 42px;
	line-height: 40px;
	max-width: 690px;
	color: #000000;
}
.news_no_img__title img{
	margin: 15px 0px 15px 15px;
}
.button{
	width: 195px;
	height: 45px;
    background: var(--mainColor);
    color: #ffffff;
	margin-top: 30px;
	margin-bottom: 50px;
}
.news_no_img__content{
	font-family: Georgia;
	font-style: italic;
	font-weight: normal;
	margin-bottom: 45px;
	max-width: 620px;
}
.news_no_img__tabl{
	margin-bottom: 30px;
}
.news_no_img__tabl th{
	font-family: 'Gotham Pro';
	font-style: normal;
	font-weight: bold;
	text-align: left;
}
.news_no_img__tabl td{
	padding-left: 25px;
}
.news_no_img__address{
	display: flex;
	margin-bottom: 70px;
	font-family: Georgia;
	font-style: italic;
	font-weight: normal;
	font-size: 16px;
	line-height: 130%;
}
.news_no_img__address img{
	width: 20px;
	height: 20px;
	margin-left: -5px;
	margin-right: 15px;
}

.news_no_img__list h2{
	font-family: 'Gotham Pro';
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	margin-bottom: 20px;
}
.news_no_img__list ul {
    list-style: none;
}
.news_no_img__list ul li:before {
    content: "—";
    position: relative;
	left: -5px;
	line-height: 30px;
}
.news_no_img__button{
	margin-left: 30%;
}

@media (max-width: 768px) {
.news_no_img{
	margin-left: 20px;
}

}

@media (max-width: 500px) {

	#mainCont, footer {
		width: 360px;
	}

	.news_no_img__title h1{
		font-size: 26px;
	}
	.news_no_img{
		margin-left: 10px;
	}
	
	.news_no_img__button {
		margin-left: 70px;
	}
	}